{% extends 'base.html' %}
{% block content %}

<div class="col-xs-12 row col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h1>About Project ReadMe</h1></div>
      <div class="panel-body">Project ReadMe finds the books you want to read for free at the libraries closest to you!  The web app provides any book’s details such as summary and average rating and helps you discover its real-time availability by searching multiple public library systems at once. The app renders this availability on a map to help you visualize and discover the library branch (and its wonderful book collection) right around the corner from you.</div>
    </div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}
