<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
    <link href="/static/css/styles.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.2/mapbox-gl.css' rel='stylesheet' />
    <!--<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v2.0.0/mapbox-gl-directions.js'></script>-->
    <!--<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v2.0.0/mapbox-gl-directions.css' type='text/css' />-->

    <style>
        #map { top:0; bottom:0; height:500px; width:95%; }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>project readme</title>
</head>

<body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>  
          <a class="navbar-brand" href="">
            <i class="fa fa-book"></i>
          </a>
        </div> <!-- navbar-header -->
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/search">Search for Books</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">About Project ReadMe</a></li>
          </ul>
        </div> <!-- collapse navbar -->
      </div> <!-- container-fluid -->
    </nav>


    <div class="container container-fluid">
      {% block content %}
      {% endblock %}   
    </div> <!-- container -->

    {% block javascript %}
    {% endblock %}

</body>

</html>