{% extends 'base.html' %}
{% block content %}
<div class="col-xs-12 row col-sm-10 col-sm-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading title" id="{{ book.book_id }}">
      <h1 class="panel-title">{{ book.title|title }}</h1>
      by {% for current_author in authors %}
            {{ current_author.author_name }}
            {% if not loop.last %}, {% endif %}
        {% endfor %}
    </div>
    <div class="panel-body">
      <div class="row details">
      <!-- BEGIN LEFT COLUMN -->
      <div class="col-md-3">
        <div class="row coverimg">
          <img src="{{ book.coverurl }}" class="img-responsive" alt="cover for {{ book.title }}">
        </div>
        <div class="row publisher">
            {{ book.publisher }}
        </div>
        {% if book.page_count %}
        <div class="row pagecount">
            {{ book.page_count }} pages
        </div>
        {% endif %}
      </div>
      <!-- END LEFT COLUMN -->

      <!-- BEGIN RIGHT COLUMN -->
      <div class="col-md-9">
        <div class="row goodreadsinfo">
          <h3>Ratings Information from <a href="http://www.goodreads.com/"><img src="../static/goodreads_misc_logo.jpg" width="20%"/></a></h3>
          {% if goodreads_info %}
          <strong>Average Rating:</strong> {{ goodreads_info.goodreads_rating }} | {{ goodreads_info.goodreads_ratings_count }} ratings
          <br><strong>ISBN:</strong> {{ goodreads_info.isbn13.isbn13 }}
          {% else %}
          <p>No ratings information available.</p>
          {% endif %}
        </div>
        <div class="row summary">
            <h3>Summary</h3>
            {{ book.summary }}
        </div>
        <div id='book-availability'>
            <div id="loading-div">
                <i class="fa fa-spinner fa-pulse fa-5x fa-fw margin-bottom"></i>
                Loading
            </div>
        </div>
      </div>
      <!-- END RIGHT COLUMN -->
      </div>
    </div> <!-- END DETAILS -->
    </div>
  </div>
</div>


{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
      $('#book-availability').load('/details/{{ book.book_id }}/availability');
  });
</script>
{% endblock %}
