{% extends 'base.html' %}
{% block content %}


<div class="row">
  <form>
    <div class="form-group row">
      <label for="keywords" class="form-control-label sr-only">Your Zipcode</label>
      <div class="col-sm-offset-2 col-sm-8">
        <input type="text" class="form-control" id="user-zipcode" placeholder="Enter Your Zipcode">
      </div>
    </div>
    <div class="row col-sm-offset-5 col-sm-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

{% endblock %}