{% extends 'base.html' %}
{% block content %}

<div class="row">
  <form action="/results" method="POST">
    <div class="form-group row">
      <label for="keywords" class="form-control-label sr-only">Keyword Search</label>
      <div class="col-sm-offset-2 col-sm-8">
        <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Search by Title / Author / ISBN">
      </div>
    </div>
    <div class="form-group row">
      <label for="searchtype" class="form-control-label sr-only">Search Type</label>
      <div class="col-sm-offset-4 col-sm-6">
        <label class="radio-inline"><input type="radio" id="searchtype" name="searchtype" value="print" required>Search for Print Books</label>
        <label class="radio-inline"><input type="radio" id="searchtype" name="searchtype" value="ebooks">Search for eBooks</label>
      </div>
    </div>
    <div class="row col-sm-offset-5 col-sm-2">
      <button type="submit" id="submitsearch" class="btn btn-primary btn-lg">
        <span></span> Submit
      </button>
    </div>
  </form>
</div>

{% endblock %}

{% block javascript %}
<script>
  function addSpinner(evt) {
    $('#submitsearch span').addClass('glyphicon glyphicon-refresh spinning')
  }

  $('#submitsearch').click(addSpinner);
</script>
{% endblock %}