{% extends 'base.html' %}
{% block content %}

<div class="row">
  <form action="/results" method="POST">
    <div class="form-group row">
      <label for="keywords" class="form-control-label sr-only">Keyword Search</label>
      <div class="col-sm-offset-2 col-sm-8">
        <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Search by Title / Author / ISBN">
      </div>
    </div>
    <div class="row col-sm-offset-5 col-sm-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

{% endblock %}